h2 {
  text-align: center;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: white;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #32936f;
  color: white;
  padding: 5%;
  margin: 3% 0;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  float: left;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#contact {
  margin: 2% auto;
  background-color: #212121;
  padding: 7%;
}

#contact h2 {
  color: white;
}

#bas {
  width: 40%;
  margin: 0 auto;
}

.container {
  background-color: #f2f2f2;
  padding: 2px;
  margin: 5% auto;
}

#illustr img {
  height: 400px;
  width: auto;
  border-radius: 50%;
}

@media screen and (max-width: 992px) {
  .container {
    width: 100%;
    display: block;
    margin-top: 50%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    display: block;
    margin-top: 50%;
  }
}
