#divcardsexp {
  width: 80%;

  margin: 5% 0;
}

.cardexp {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  margin: 5% 15%;
}

p {
  font-style: bold;
}

.cardexp img {
  height: 50px;
  width: auto;
  margin: 50px;
}

hr {
  margin: 0 auto;
  width: 40%;
  color: rgb(233, 227, 227);
}