#footer {
  bottom: 0;
  font-weight: bold;
  padding: 1.2% 0;
  display: flex;
  justify-content: center;
}

#footer div {
  margin: 0 2%;
}

#droite ul {
  display: flex;
}

#droite li {
  list-style: none;
  margin: 0 10%;
}

#droite a {
  text-decoration: none;
  padding: 10%;
  color: black;
}
