#home {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #202327;
}
#presentation {
  margin: 2%;
}
#presentation img {
  width: 15rem;
  border-radius: 50%;
}

#presentation p {
  font-size: 1.5rem;
  margin: 3%;
  color: white;
  font-weight: 700;
}

#presentation a {
  color: white;
  font-size: smaller;
  padding: 15px;
  border: 1px solid white;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#presentation a:hover {
  color: black;
  background-color: white;
}
