@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@1,100&family=Amatic+SC&family=Anton&family=Bangers&family=Outfit:wght@400;700&family=Roboto:ital,wght@1,100&family=Teko&display=swap");

html {
  scroll-behavior: smooth;
}

#navigation nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border-bottom: 1px solid black;
  background-color: white;
  width: 100%;

  /* position: fixed; */
}

#navigation a {
  color: #163e16;
  font-family: "Roboto", sans-serif;

  font-size: 1.5rem;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 30px 20px;
  padding: 15px;
}

#navigation a:hover {
  color: black;
  text-decoration: underline;
  border-radius: 10%;
}
