@import url('https://fonts.googleapis.com/css2?family=Allan&family=Amatic+SC&family=Bangers&display=swap');

#skills {
  margin: 10% auto;
}
#skills img,
svg {
  height: 20px;
}

#skills #cards {
  margin: 5% 0;
  display: flex;
  flex-wrap: wrap;
}

#skills .card {
  border: double 5px pink;
}

#skills b {
  font-size: 1.5rem;
  color: #424346;
  font-family: 'Bangers', cursive;
  text-decoration-line: underline;
  text-decoration-style: double;
}

#card {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
  #skills .container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  #skills .container {
    margin: 0 auto;
  }
}