#skills {
  margin: 10% auto;
}
#skills img,
svg {
  height: 20px;
}

#skills #cards {
  margin: 5% 0;
  display: flex;
  flex-wrap: wrap;
}

#card {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
  #skills .container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  #skills .container {
    margin: 0 auto;
  }
}
